{% extends "blog/base.html" %}

{% load static %}

{% block main %}

    <form action="" method="POST" id="comment-form">
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">※{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}
        {% csrf_token %}

        <button type="submit" class="btn btn-primary" style="margin-right:50px;">コメントする</button>
        <a class="button btn-link" href="{% url 'blog:detail' post.pk %}">コメントせずに戻る</a>
    </form>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

{% endblock %}