{% extends "blog/base.html" %}

{% load l10n tz %}

{% block main %}

{% load static %}

<h2 style="margin-bottom: 50px;">{{ object.title }}</h2>

<!--| linebreaksbrは、フォームで改行したら投稿ページに反映させるもの-->
<h4 style="margin-bottom: 50px;"><p>{{ object.body | linebreaksbr }}</h4></p>

<p>投稿者 :【{{ post.accessuser }}】</p>

<p>選択されたカテゴリー:【{{ object.category }}】</p>

 <!--tag=自由に決めた値 tagにmodels.pyのtagsを全て入れて、そのtagの中のname(models.py Tag内の変数)を表示-->
<p>選択されたタグ:{% for tag in object.tags.all %} 【{{ tag.name }}】 {% endfor %}</p>

<p>更新日時：<time>{{ object.updated|localtime|localize }}</time></p>

<button class="like-btn {%if request.user in post.like.all %}on{%endif%}"
        data-href="{{ post.get_api_like_url }}" data-id="{{post.pk}}" style="margin-bottom: 50px;">
    <span class="liked-cnt" id="like{{post.pk}}">{{ post.like.count }}</span>
    <i class="fas fa-thumbs-up"></i>
</button>


<p><a href="{% url 'blog:comment_create' post.pk %}" target="_blank" rel="nofollow">ブログにコメントする</a></p>


{% for comment in object.comment_set.all %}

<p>🔔 コメント投稿者 :【{{ comment.accessuser }}】</p>
<p>{{ comment | linebreaksbr }}</p>

{% endfor %}


<link rel="stylesheet" type="text/css" href="{% static 'like.css' %}" />
<script type='text/javascript' src='{% static "like.js" %}'></script>
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}