{% extends "blog/base.html" %}

{% load l10n tz %}

{% block main %}

{% load static %}

<h2>{{ object.title }}</h2>
<p>投稿者：{{ post.accessuser }}</p>
<p>更新日時：<time>{{ object.updated|localtime|localize }}</time></p>

<h4>{{ object.body }}</h4>

<button class="like-btn {%if request.user in post.like.all %}on{%endif%}"
                       data-href="{{ post.get_api_like_url }}" data-id="{{post.pk}}">
          <span class="liked-cnt" id="like{{post.pk}}">{{ post.like.count }}</span>
          <i class="fas fa-thumbs-up"></i>
</button>

<link rel="stylesheet" type="text/css" href="{% static 'like.css' %}" />
<script type="text/javascript" src="{% static 'like.js' %}"></script>
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}