{% extends "blog/base.html" %}

{% load l10n tz %}

{% block main %}

{% load static %}

<h2>{{ object.title }}</h2>

<h4><p>{{ object.body }}</h4></p>

<p>投稿者：{{ post.accessuser }}</p>

<p>選択されたカテゴリー:【{{ object.category }}】</p>

 <!--tag=自由に決めた値 tagにmodels.pyのtagsを全て入れて、そのtagの中のname(models.py Tag内の変数)を表示-->
<p>選択されたタグ:{% for tag in object.tags.all %} 【{{ tag.name }}】 {% endfor %}</p>

<p>更新日時：<time>{{ object.updated|localtime|localize }}</time></p>

<button class="like-btn {%if request.user in post.like.all %}on{%endif%}"
                       data-href="{{ post.get_api_like_url }}" data-id="{{post.pk}}">
          <span class="liked-cnt" id="like{{post.pk}}">{{ post.like.count }}</span>
          <i class="fas fa-thumbs-up"></i>
</button>

<form action="" method="POST" id="comment-form">
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <span class="helptext">※{{ field.help_text }}</span>
            {% endif %}
            {{ field.errors }}
        </div>
    {% endfor %}
    {% csrf_token %}

    <button type="submit" class="btn-link">送信</button>
    <a class="button btn-link" href="{% url 'blog:detail' post.pk %}">送信せずに戻る</a>
</form>

<link rel="stylesheet" type="text/css" href="{% static 'like.css' %}" />
<script type="text/javascript" src="{% static 'like.js' %}"></script>
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}