{% extends "blog/base.html" %}

{% load static %} <!--ループ内に記載しない。基本最上部に記載する-->

{% block main %}

<h2><p>⭐︎ 会員ページ ⭐︎</p></h2>
<p>{{ user }}さん、こんにちは😊</p>
<p>8000/adminで管理者用画面へ</p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
<p><a href="{% url 'password_change' %}">パスワードの変更</a></p>

<h2><p>⭐︎ 新規投稿 ⭐︎</p></h2>
<p>{{ user }}さんが今観ているドラマはなんですか？</p>
<p>感想などを投稿して会員同士で共有してみませんか？</p>

<h5><p><a href="{% url 'blog:create' %}">👉投稿する👈</a></p></h5>

<h2><p>⭐︎ ブログ一覧 ⭐︎</p></h2>

  <p></p><form class="form-inline my-2" method="GET" action="{% url 'blog:search' %}">
   <input type="text" class="form-control" name="query" value="{{request.GET.query}}"
          placeholder="タイトル、本文からワード検索"　style="width:500px;">
   <button type="submit" class="btn btn-primary">検索</button>
  </form></p>

<ol>
    
    {% for post in object_list %}
    
    <li>
        <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a> 
        <p>投稿者：{{ post.accessuser }}</p>

         <!--もしいいねしていたユーザーがログインユーザーだったら、いいねボタンを光らせる。これにより、リロードしたり再度ログイン時、いいねしたボタンは常に光る-->
         <!--like-btnと{の間にスペース無いと、like-btnonになってしまう-->
         <!--request.userでログインユーザーを取得可能、post.like.allでいいねしてる全ユーザー取得可能-->
        <button class="like-btn {% if request.user in post.like.all %}on{% endif %}"
                       data-href="{{ post.get_api_like_url }}" data-id="{{post.pk}}">
          <span class="liked-cnt" id="like{{post.pk}}">{{ post.like.count }}</span>
          <i class="fas fa-thumbs-up"></i>
        </button>
        
   </li>

   {% endfor %}

</ol>

<link rel="stylesheet" type="text/css" href="{% static 'like.css' %}" />
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'like.js' %}"></script> <!--js読み込み時は、scriptタグを使用。srcで読み込みファイル名を指定-->

{% endblock %}
