{% extends "blog/base.html" %}

{% load static %}

{% block main %}

<h2>⭐︎ ログイン ⭐︎</h2>

<p>ゲストでログインする事も可能です。</p>
<p>ユーザー名: guest</p>
<p>パスワード: user1234</p>
<p>{% include "_form.html" with submit_label="ログイン" %}</p>
<h3><a href="{% url 'signup' %}">ぼっち会員に登録</a></h3>
<h3><p><a href="{% url 'password_reset' %}">ユーザー名、パスワードを忘れた場合</a></p></h3>

<h2><p>⭐︎ このサイトについて ⭐︎</p></h2>
<p>ぼっちは近年、社会問題になりつつあります・・・。<br>
   このサイトは、「現在」「過去」にぼっちで寂しい思いをしてる人達が実際にあった悲しい出来事などをブログ形式で投稿し、それを会員同士で共有できるコミュニティです。<br>
   みんなで励まし合いましょう！</p>
<img src="{% static 'hitori_bocchi.jpeg' %}" />

{% endblock %}